<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.naturefeng.cordova.plugin.TrafficStat"
        xmlns:android="http://schemas.android.com/apk/res/android"
        version="1.0.1">

    <name>TrafficStat</name>
    <author>NatureFeng</author>
    <keywords>cordova, trafficStat, total</keywords>
    <license>GPLv3</license>
    <description>trafficstat extension</description>

    <js-module src="www/TrafficStat.js" name="TrafficStat">
        <clobbers target="window.TrafficStat" />
    </js-module>

    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TrafficStats">
                <param name="android-package" value="com.naturefeng.cordova.plugin.TrafficStat.TrafficStat"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <source-file src="src/android/TrafficStat.java" target-dir="src/com/naturefeng/cordova/plugin/TrafficStat" />
    </platform>

</plugin>